@model IEnumerable<HelpfulPreOrder>
@{
    Layout = null;
    //管理员查看可撤销订单页面
}
@if (User.IsInRole("系统管理员"))
{

    @foreach (var x in Model)
    {
        <tr id="table-tr-@x.Id">
            <td>@x.Id</td>
            <td>@x.OrderNumber</td>
            <td>@x.Country</td>
            <td><a asp-action="HelpfulDetails" asp-controller="Admin" asp-route-id="@x.Id">查看详情</a></td>
            <td><a href="@x.Url" title="@x.Url" target="_blank">查看</a></td>
            <td>@x.HelpfulType</td>
            <td>@x.IsCollection</td>
            <td>@x.Draw</td>
            <td>@x.IsPayFor</td>
            <td>@x.Times</td>
            <td><a href="javascript:lock(@x.Id)" class="btn btn-primary">锁定</a></td>
        </tr>
    }
}
<script src="~/js/jQuery-2.1.4.min.js"></script>
<script type="text/javascript">
    function lock(id) {
        var jug = confirm("确认锁定Helpful订单吗？");
        if (jug == true) {
            $.post("/Admin/HelpfulLockek", { id: id }, function (data) {
                if (data == "success") {
                    alert("操作成功");
                    $("#table-tr-" + id).remove();

                }
                else if (data == "error") {
                    alert("操作失败");

                }
                else {
                    alert("未知错误");

                }

            })

        }

    }
</script>


