@model IEnumerable<PreOrder>
@{ 
    Layout = null;
    //用户待支付列表
}
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.Id</td>
        <td>@x.PreOrderNumber</td>
        <td>@x.Country</td>
        <td>@x.ShopName</td>
        <td><a href="@x.GoodsUrl" title="@x.GoodsUrl" target="_blank">查看</a></td>
        <td>@x.FindType</td>
        <td>@x.NextOrToday</td>
        <td>@x.GoodsCost</td>
        <td>@x.Freight</td>
        <td>@x.Rate</td>
        <td>@x.Total</td>
        <td>@x.RMB</td>
        <td>@x.Poundage</td>
        <td>@x.PayTotal</td>
        <td><a href="#" title="@x.FeedBackContent">复制</a></td>
        <td><a href="#" title="@x.ReviewContent">复制</a></td>
        <td>@x.Draw</td>
        <td>@x.PlatType</td>
        <td>@x.Times</td>
        <td><a asp-action="EditOrder" asp-controller="Manage" asp-route-id="@x.Id" class="btn btn-info">编辑</a>&nbsp;&nbsp;<a href="javascript:Delete(@x.Id)" class="btn btn-danger">删除</a><a asp-action="OrderDetails" asp-controller="Manage" asp-route-id="@x.Id">详细</a> </td>
    </tr>
    }
<script src="~/js/jQuery-2.1.4.min.js"></script>
<script type="text/javascript">
    function  Delete(id){
        var jug=confirm("确定删除吗？");
        if(jug==true){
            var url="/Manage/DeleteOrder";
            var params={"id":id};
            $.post(url,params,function(data){
                if(data=="success"){
                    $("#table-tr-"+id).remove();
                    alert("删除成功");
                }
                else{
                    alert("删除失败");

                }
            });

        }

    }

</script>