@model IEnumerable<PreOrder>
@{
    Layout = null;
    //管理员查看所有订单列表
}
@foreach (var x in Model)
{
    <tr>
        <td>@x.Id</td>
        <td>@x.PreOrderNumber</td>
        <td>@x.Country（@x.Rate）</td>
        <td>@x.ShopName</td>
        <td><a href="@x.GoodsUrl" title="@x.GoodsUrl" target="_blank">查看</a></td>
        <td>@x.FindType</td>
        <td>@x.OrderType</td>
        <td>@x.GoodsCost</td>
        <td>@x.Freight</td>
        <td>@x.Rate</td>
        <td>@x.Total</td>
        <td>@x.RMB</td>
        <td>@x.Poundage</td>
        <td>@x.PayTotal</td>
        <td></td>
        <td><a href="#" title="@x.FeedBackContent">复制</a></td>
        <td><a href="#" title="@x.ReviewContent">复制</a></td>
        <td>@x.Draw</td>
        <td>@x.PlatType</td>
        <td>@x.Times</td>
    </tr>
}



