@model IEnumerable<LockOrder>
@{
    Layout = null;
    //管理员查看所有订单列表
}
@foreach (var x in Model)
{
    <tr>
        <td>@x.PreOrder.Id</td>
        <td>@x.PreOrder.PreOrderNumber</td>
        <td>@x.PreOrder.Country（@x.PreOrder.Rate）</td>
        <td>@x.PreOrder.ShopName</td>
        <td><a href="@x.PreOrder.GoodsUrl" title="@x.PreOrder.GoodsUrl" target="_blank">查看</a></td>
        <td>@x.PreOrder.FindType</td>
        <td>@x.PreOrder.OrderType</td>
        <td>@x.PreOrder.GoodsCost</td>
        <td>@x.PreOrder.Freight</td>
        <td>@x.PreOrder.Total</td>
        <td>@x.PreOrder.RMB</td>
        <td>@x.PreOrder.Poundage</td>
        <td>@x.PreOrder.PayTotal</td>
        <td></td>
        <td><a href="#" title="@x.PreOrder.FeedBackContent">复制</a></td>
        <td><a href="#" title="@x.PreOrder.ReviewContent">复制</a></td>
        <td>@x.PreOrder.Draw</td>
        <td>@x.PreOrder.PlatType</td>
        <td>@x.PreOrder.Times</td>
        <td><a asp-action="OrderDetails" asp-controller="Admin" asp-route-id="@x.PreOrder.Id" class="btn btn-primary">详细</a></td>
    </tr>
}



