@model IEnumerable<HelpfulPreOrder>
@{
    Layout = null;
    //管理员查看所有订单页面
}
@foreach (var x in Model)
{
    <tr id="table-tr-@x.Id">
        <td>@x.Id</td>
        <td>@x.OrderNumber</td>
        <td>@x.Country</td>
        <td><a asp-action="HelpfulDetails" asp-controller="Admin" asp-route-id="@x.Id">查看详情</a></td>
        <td><a href="@x.Url" title="@x.Url" target="_blank">查看</a></td>
        <td>@x.HelpfulType</td>
        <td>@x.IsCollection</td>
        <td>@x.Draw</td>
        <td>@x.DrawTime</td>
        <td>@x.PostTime</td>
        <td>@x.PayFor</td>
        <td>@x.Times</td>
    </tr>
}




