<style>
    .must2 {
        color: red;
    }

    .must3 {
        color: red;
        font-size: 8px;
    }
</style>
<div id="helpfulorder">
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">发布Helpful和收藏 </p><label class="must2">请认真填写以下信息 ，本操作价格为 @ViewBag.Price 元 1 单</label>
                        <form asp-action="HelpfulOrder" asp-controller="Manage" asp-route-id="@ViewBag.UserCurrent.Id" id="orderForm" method="post">
                            <table class="table table-responsive table-stripted">
                                <tbody>
                                    <tr>
                                        <th class="must2">*国家</th>
                                        @foreach (Rate x in ViewBag.Country)
                                        {
                                            <td><input type="radio" name="Country" id="Country" value="@x.Country" />@x.Country</td>
                                        }
                                    </tr>
                                    <tr>
                                        <th class="must2">*连接</th>
                                        <td><input class="form-control" type="text" placeholder="输入以http://开头的产品连接" name="Url" id="Url" /></td>
                                    </tr>
                                    <tr>
                                        <th class="must2">操作数量</th>
                                        <td><input type="text" class="form-control" value="1" name="Times" /></td>
                                        <td class="must2">请输入本产品要刷的单数</td>
                                    </tr>
                                    <tr class="Review1">
                                        <th class="must2">*Review1标题</th>
                                        <td><input class="form-control" name="Review1" /></td>
                                        <td><input type="radio" name="ReviewStar1" value="1" />一星</td>
                                        <td><input type="radio" name="ReviewStar1" value="2" />二星</td>
                                        <td><input type="radio" name="ReviewStar1" value="3" />三星</td>
                                        <td><input type="radio" name="ReviewStar1" value="4" />四星</td>
                                        <td><input type="radio" name="ReviewStar1" value="5" checked="checked"/>五星</td>
                                    </tr>
                                    <tr class="Review1">
                                        <th class="must2">*Review2标题</th>
                                        <td><input class="form-control" name="Review2" /></td>
                                        <td><input type="radio" name="ReviewStar2" value="1"/>一星</td>
                                        <td><input type="radio" name="ReviewStar2" value="2"/>二星</td>
                                        <td><input type="radio" name="ReviewStar2" value="3"/>三星</td>
                                        <td><input type="radio" name="ReviewStar2" value="4"/>四星</td>
                                        <td><input type="radio" name="ReviewStar2" value="5" checked="checked" />五星</td>
                                    </tr>
                                    <tr id="add-new-title">
                                        <th></th>
                                        <th><a href="#" class="must2">新增加一个标题（一次最多提交十个标题）</a></th>
                                    </tr>
                                    <tr>
                                        <th class="must2">*Helpful类型</th>
                                        <td><input type="radio" name="HelpfulType" value="true" checked="checked" />YES</td>
                                        <td><input type="radio" name="HelpfulType" value="false" />No</td>
                                    </tr>
                                    <tr>
                                        <th class="must2">*是否收藏产品</th>
                                        <td><input type="radio" name="IsCollection" value="true" />YES</td>
                                        <td><input type="radio" name="IsCollection" value="false" checked="checked" />NO</td>
                                        <td class="infotitle">（Add to Wish List）功能单独收费 @ViewBag.WishListCost 元 </td>
                                    </tr>
                                    <tr>
                                        <td><input type="submit" id="send" class="form-control btn btn-primary" value="提交并添加下一单"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <img src="~/img/system/HelpfurExample.jpg" class="caption" />

                    </div>
                </div>
            </section>
        </div>
    </section>

</div>
<script src="~/js/jQuery-2.1.4.min.js"></script>
<script type="text/javascript">
        $("#send").click(function () {
            /*var url = "Manage/OneToOne";
            var params = {
                "Country": $("#Country").val(),
                "Url": $("#Url").val(),
                "Times": $("#Times").val(),
                "GoodsCost": $("#GoodCost").val(),
                "Freight": $("#Freight").val(),
                "OrderType": $("input[type='radio' name='OrderType']").val(),
                "NextOrToday": $("input[type='checkbox' name='NextOrToday']").val(),
                "AvoidWeekend": $("input[type='radio' name='AvoidWeekend']").val(),
                "Extension": $("input[type='radio' name='Extension']").val(),



            }
            $.post(url, params, function (data) {
                if (data == "success") {
                    alert("提交成功");
                    window.location.href = "/Manage/OneToOne";
                }
                else {
                    alert("提交失败");
                }

            });*/
            alert("提交成功");
            $("#send").submit;
        });
        $("#add-new-title a").click(function () {
            var len = $("tr[class='Review1']").length + 1;
            if (len <= 10) {
                var R = '<tr class="Review1"><th class="must2">*Review' + len + '标题</th><td><input class="form-control" name="Review' + len + '" /></td><td><input type="radio" name="ReviewStar' + len + '" value="1"/>一星</td><td><input type="radio" name="ReviewStar' + len + '" value="2"/>二星</td><td><input type="radio" name="ReviewStar' + len + '" value="3"/>三星</td><td><input type="radio" name="ReviewStar' + len + '" value="4"/>四星</td><td><input type="radio" name="ReviewStar' + len + '" value="5" checked="checked"/>五星</td></tr>';
                $("#add-new-title").before(R);
                $("tr[name='Review1']").length++;
            } else {
                alert("最多10条标题");
            }
        });
    });
</script>


