@model IEnumerable<ShopOrder>
<div>
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <a asp-action="CreateShopOrderAmount" asp-controller="Manage" class="btn btn-primary">添加店铺信息</a>
                        <div style="height:20px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-stripted table-hover" style="background-color:white;">
                            <thead>
                                <tr style="background-color:rgb(60,141,188);">
                                    <th>序号</th>
                                    <th>所在平台</th>
                                    <th>店铺名</th>
                                    <th>一天最大订单量</th>
                                    <th>一天最大评价数量</th>
                                    <th>可操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>测试1</td>
                                    <td>Amazon</td>
                                    <td>测试STG</td>
                                    <td>测试3</td>
                                    <td>测试3</td>
                                    <td><a href="#">编辑</a></td>
                                </tr>
                                @foreach (ShopOrder x in Model)
                                {
                                    <tr>
                                        <td>@x.Id</td>
                                        <td>@x.Type</td>
                                        <td>@x.Title</td>
                                        <td>@x.MaxOneDay</td>
                                        <td>@x.MaxOneEvaluation</td>
                                        <td><a asp-action="EditShopOrderAmount" asp-controller="Manage" asp-route-id="@x.Id">编辑</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <p style="color:red;">
                            注意： 店铺名请勿随意修改,以及请认真填写好所在平台类型， 修改后系统会认为和之前的是不同店铺，如果修改后相同名字的店铺会被视为同一个
                            由此可能引起系统分配买家账号重复的情况 责任自负！
                        </p>
                        <p>您在亚马逊上面的店铺名称，Sold by 后面的名字，用于区分卖家的。如果填错会导致下单错误的哦，请认真对待。</p>
                    </div>

                </div>
            </section>
            </div>
</section>
</div>