@if (User.IsInRole("普通用户"))
{
    <div>
        <!-- Content Wrapper. Contains page content -->
        <section>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <small>当前信息</small>
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-money"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已消费金额</span>
                                    <span class="info-box-number">8,884</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-red"><i class="fa fa-flag"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已开始</span>
                                    <span class="info-box-number">41,410</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <!-- fix for small devices only -->
                        <div class="clearfix visible-sm-block"></div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-legal"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">成交量</span>
                                    <span class="info-box-number">760</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow"><i class="fa fa-shopping-cart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已下单</span>
                                    <span class="info-box-number">2,000</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">近期订单情况</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-center">
                                                <strong>消费情况: 1 Jan, 2014 - 30 Jul, 2014</strong>
                                            </p>
                                            <div class="chart">
                                                <!-- Sales Chart Canvas -->
                                                <canvas id="salesChart" style="height: 180px;"></canvas>
                                            </div><!-- /.chart-responsive -->
                                        </div><!-- /.col -->
                                        <div class="col-md-6">
                                            <p class="text-center">
                                                <strong>订单</strong>
                                            </p>
                                            <div class="progress-group">
                                                <span class="progress-text">待审核</span>
                                                <span class="progress-number"><b>@ViewBag.PreOrderWaitDraw</b>/@ViewBag.PreOrderAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-blue" style="width: @ViewBag.oba%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text">已完成</span>
                                                <span class="progress-number"><b>@ViewBag.PreOrderFinish</b>/@ViewBag.PreOrderAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-green" style="width: @ViewBag.oda%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text">审核通过待完成</span>
                                                <span class="progress-number"><b>@ViewBag.PreOrderDraw</b>/@ViewBag.PreOrderAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.oca%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                        </div><!-- /.col -->
                                        <div class="col-md-6">
                                            <p class="text-center">
                                                <strong>Helpful订单</strong>
                                            </p>
                                            <div class="progress-group">
                                                <span class="progress-text">待审核</span>
                                                <span class="progress-number"><b>@ViewBag.HelpfulWaitDraw</b>/@ViewBag.HelpfulAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-info" style="width: @ViewBag.ba%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text">已完成</span>
                                                <span class="progress-number"><b>@ViewBag.HelpfulFinish</b>/@ViewBag.HelpfulAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-green" style="width: @ViewBag.da%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text">审核通过待完成</span>
                                                <span class="progress-number"><b>@ViewBag.HelpfulDraw</b>/@ViewBag.HelpfulAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.ca%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- ./box-body -->
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="description-block border-right">
                                                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                                <h5 class="description-header">$35,210.43</h5>
                                                <span class="description-text">当天总单数</span>
                                            </div><!-- /.description-block -->
                                        </div><!-- /.col -->
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="description-block border-right">
                                                <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                                                <h5 class="description-header">$10,390.90</h5>
                                                <span class="description-text">今天消费</span>
                                            </div><!-- /.description-block -->
                                        </div><!-- /.col -->
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="description-block border-right">
                                                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                                <h5 class="description-header">$24,813.53</h5>
                                                <span class="description-text">今天完成</span>
                                            </div><!-- /.description-block -->
                                        </div><!-- /.col -->
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="description-block">
                                                <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                                <h5 class="description-header">1200</h5>
                                                <span class="description-text">今天未完成</span>
                                            </div><!-- /.description-block -->
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.box-footer -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <!-- Main row -->
                    <!-- Calendar -->
                    <div class="box box-solid bg-green-gradient">
                        <div class="box-header">
                            <i class="fa fa-flag"></i>
                            <h3 class="box-title">已开始订单完成情况</h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <!-- button with a dropdown -->
                                <button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div><!-- /. tools -->
                        </div><!-- /.box-header -->
                        <div class="box-footer text-black">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Progress bars -->
                                    <div class="clearfix">
                                        <span class="pull-left">订单 #1</span>
                                        <small class="pull-right">90%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                    </div>

                                    <div class="clearfix">
                                        <span class="pull-left">订单 #2</span>
                                        <small class="pull-right">70%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                                    </div>
                                </div><!-- /.col -->
                                <div class="col-sm-6">
                                    <div class="clearfix">
                                        <span class="pull-left">订单 #3</span>
                                        <small class="pull-right">60%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                                    </div>

                                    <div class="clearfix">
                                        <span class="pull-left">订单 #4</span>
                                        <small class="pull-right">40%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div>
                    </div><!-- /.box -->

                </section><!-- right col -->
            </div><!-- /.row (main row) -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

}

else {
    <!--管理员-->
    <div>
        <!-- Content Wrapper. Contains page content -->
        <section>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <small>管理员平台当前信息</small>
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-money"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已消费金额</span>
                                    <span class="info-box-number">8,884</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-red"><i class="fa fa-flag"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已开始</span>
                                    <span class="info-box-number">41,410</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <!-- fix for small devices only -->
                        <div class="clearfix visible-sm-block"></div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-legal"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">成交量</span>
                                    <span class="info-box-number">760</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow"><i class="fa fa-shopping-cart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已下单</span>
                                    <span class="info-box-number">2,000</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">近期订单情况</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-center">
                                                    <strong>订单情况: @DateTime.Now</strong>
                                                </p>
                                                <div class="chart">
                                                    <!-- Sales Chart Canvas -->
                                                    <canvas id="salesChart" style="height: 180px;"></canvas>
                                                </div><!-- /.chart-responsive -->
                                            </div><!-- /.col -->
                                            <div class="col-md-6">
                                                <p class="text-center">
                                                    <strong>总单数</strong>
                                                </p>
                                                <div class="progress-group">
                                                    <span class="progress-text">待审核</span>
                                                    <span class="progress-number"><b>@ViewBag.PreOrderWaitDraw</b>/@ViewBag.PreOrderAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-red" style="width: @ViewBag.oba%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">已完成</span>
                                                    <span class="progress-number"><b>@ViewBag.PreOrderFinish</b>/@ViewBag.PreOrderAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-green" style="width: @ViewBag.oda%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">审核通过待完成</span>
                                                    <span class="progress-number"><b>@ViewBag.PreOrderDraw</b>/@ViewBag.PreOrderAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.oca%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                            </div><!-- /.col -->
                                            <div class="col-md-6">
                                                <p class="text-center">
                                                    <strong>Helpful订单</strong>
                                                </p>
                                                <div class="progress-group">
                                                    <span class="progress-text">待审核</span>
                                                    <span class="progress-number"><b>@ViewBag.HelpfulWaitDraw</b>/@ViewBag.HelpfulAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-red" style="width:@ViewBag.ba%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">已完成</span>
                                                    <span class="progress-number"><b>@ViewBag.HelpfulFinish</b>/@ViewBag.HelpfulAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-green" style="width: @ViewBag.da%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">审核通过待完成</span>
                                                    <span class="progress-number"><b>@ViewBag.HelpfulDraw</b>/@ViewBag.HelpfulAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width:@ViewBag.ca%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- ./box-body -->
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-6">
                                                <div class="description-block border-right">
                                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                                    <h5 class="description-header">$35,210.43</h5>
                                                    <span class="description-text">当天总单数</span>
                                                </div><!-- /.description-block -->
                                            </div><!-- /.col -->
                                            <div class="col-sm-3 col-xs-6">
                                                <div class="description-block border-right">
                                                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                                                    <h5 class="description-header">$10,390.90</h5>
                                                    <span class="description-text">今天消费</span>
                                                </div><!-- /.description-block -->
                                            </div><!-- /.col -->
                                            <div class="col-sm-3 col-xs-6">
                                                <div class="description-block border-right">
                                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                                    <h5 class="description-header">$24,813.53</h5>
                                                    <span class="description-text">今天完成</span>
                                                </div><!-- /.description-block -->
                                            </div><!-- /.col -->
                                            <div class="col-sm-3 col-xs-6">
                                                <div class="description-block">
                                                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                                    <h5 class="description-header">1200</h5>
                                                    <span class="description-text">今天未完成</span>
                                                </div><!-- /.description-block -->
                                            </div>
                                        </div><!-- /.row -->
                                    </div><!-- /.box-footer -->
                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                        <!-- Main row -->
                        <!-- Calendar -->
                        <div class="box box-solid bg-green-gradient">
                            <div class="box-header">
                                <i class="fa fa-flag"></i>
                                <h3 class="box-title">已开始订单完成情况</h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <!-- button with a dropdown -->
                                    <button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div><!-- /. tools -->
                            </div><!-- /.box-header -->
                            <div class="box-footer text-black">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- Progress bars -->
                                        <div class="clearfix">
                                            <span class="pull-left">订单 #1</span>
                                            <small class="pull-right">90%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                        </div>

                                        <div class="clearfix">
                                            <span class="pull-left">订单 #2</span>
                                            <small class="pull-right">70%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                                        </div>
                                    </div><!-- /.col -->
                                    <div class="col-sm-6">
                                        <div class="clearfix">
                                            <span class="pull-left">订单 #3</span>
                                            <small class="pull-right">60%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                                        </div>

                                        <div class="clearfix">
                                            <span class="pull-left">订单 #4</span>
                                            <small class="pull-right">40%</small>
                                        </div>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                            </div>
                        </div><!-- /.box -->

</section><!-- right col -->
            </div><!-- /.row (main row) -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
}
