@if (User.IsInRole("普通用户"))
{
    <div>
        <!-- Content Wrapper. Contains page content -->
        <section>
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">近期订单情况</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="text-center">
                                                <strong>Ebay订单</strong>
                                            </p>
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="WaitDrawOrders" asp-controller="Manage">待审核</a></span>
                                                <span class="progress-number"><b>@ViewBag.PreOrderWaitDraw</b>/@ViewBag.PreOrderAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-blue" style="width: @ViewBag.oba%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="WaitPayOrders" asp-controller="Manage">待支付 </a></span>
                                                <span class="progress-number"><b>@ViewBag.PreOrderWaitPay</b>/@ViewBag.PreOrderAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-info" style="width: @ViewBag.oca%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="NotPassOrders" asp-controller="Manage">审核未通过</a></span>
                                                <span class="progress-number"><b>@ViewBag.PreOrderNotPass</b>/@ViewBag.PreOrderAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-red" style="width: @ViewBag.ofa%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="OrderIng" asp-controller="Manage">进行中</a></span>
                                                <span class="progress-number"><b>@ViewBag.PreOrderIng</b>/@ViewBag.PreOrderAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-warning" style="width: @ViewBag.oga%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="FinishOrders" asp-controller="Manage">已完成</a></span>
                                                <span class="progress-number"><b>@ViewBag.PreOrderFinish</b>/@ViewBag.PreOrderAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-green" style="width: @ViewBag.oda%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                        </div><!-- /.col -->
                                        <div class="col-md-6">
                                            <p class="text-center">
                                                <strong>Helpful订单</strong>
                                            </p>
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="HelpfulWaitDraw" asp-controller="Manage">待审核</a></span>
                                                <span class="progress-number"><b>@ViewBag.HelpfulWaitDraw</b>/@ViewBag.HelpfulAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-blue" style="width: @ViewBag.ba%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="HelpfulWaitPayFor" asp-controller="Manage">待支付</a></span>
                                                <span class="progress-number"><b>@ViewBag.HelpfulDraw</b>/@ViewBag.HelpfulAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-green" style="width: @ViewBag.ca%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="HelpfulFailure" asp-controller="Manage">审核未通过</a></span>
                                                <span class="progress-number"><b>@ViewBag.HelpfulNotPass</b>/@ViewBag.HelpfulAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.fa%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="HelpfulOrderIng" asp-controller="Manage">进行中</a></span>
                                                <span class="progress-number"><b>@ViewBag.HelpfulOrderIng</b>/@ViewBag.HelpfulAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.ga%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text"><a asp-action="HelpfulFinish" asp-controller="Manage">已完成</a></span>
                                                <span class="progress-number"><b>@ViewBag.HelpfulFinish</b>/@ViewBag.HelpfulAll</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.da%"></div>
                                                </div>
                                            </div><!-- /.progress-group -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- ./box-body -->
                                <div class="box-footer">
                                </div><!-- /.box-footer -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <!-- Main row -->
                    <!-- Calendar -->
                    <!-- Info boxes -->

                </section><!-- right col -->
            </div><!-- /.row (main row) -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

}

else {
    <!--管理员-->
    <div>
        <!-- Content Wrapper. Contains page content -->
        <section>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <small>管理员平台当前信息</small>
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- Info boxes -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">近期订单情况</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                            <div class="col-md-6">
                                                <p class="text-center">
                                                    <strong>Ebay总单数</strong>
                                                </p>
                                                <div class="progress-group">
                                                    <span class="progress-text">待审核</span>
                                                    <span class="progress-number"><b>@ViewBag.PreOrderWaitDraw</b>/@ViewBag.PreOrderAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-blue" style="width: @ViewBag.oba%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">待支付</span>
                                                    <span class="progress-number"><b>@ViewBag.PreOrderDraw</b>/@ViewBag.PreOrderAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-green" style="width: @ViewBag.oca%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">审核未通过</span>
                                                    <span class="progress-number"><b>@ViewBag.PreOrderNotPass</b>/@ViewBag.PreOrderAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.ofa%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">进行中</span>
                                                    <span class="progress-number"><b>@ViewBag.PreOrderIng</b>/@ViewBag.PreOrderAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.oga%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">已完成</span>
                                                    <span class="progress-number"><b>@ViewBag.PreOrderFinish</b>/@ViewBag.PreOrderAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.oda%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                            </div><!-- /.col -->
                                            <div class="col-md-6">
                                                <p class="text-center">
                                                    <strong>Helpful订单</strong>
                                                </p>
                                                <div class="progress-group">
                                                    <span class="progress-text">待审核</span>
                                                    <span class="progress-number"><b>@ViewBag.HelpfulWaitDraw</b>/@ViewBag.HelpfulAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-blue" style="width: @ViewBag.ba%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">待支付</span>
                                                    <span class="progress-number"><b>@ViewBag.HelpfulDraw</b>/@ViewBag.HelpfulAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-green" style="width: @ViewBag.ca%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">审核未通过</span>
                                                    <span class="progress-number"><b>@ViewBag.HelpfulNotPass</b>/@ViewBag.HelpfulAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.fa%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">进行中</span>
                                                    <span class="progress-number"><b>@ViewBag.HelpfulOrderIng</b>/@ViewBag.HelpfulAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.ga%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                                <div class="progress-group">
                                                    <span class="progress-text">已完成</span>
                                                    <span class="progress-number"><b>@ViewBag.HelpfulFinish</b>/@ViewBag.HelpfulAll</span>
                                                    <div class="progress sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.da%"></div>
                                                    </div>
                                                </div><!-- /.progress-group -->
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- ./box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                        <!-- Main row -->
                        <!-- Calendar -->
</section><!-- right col -->
            </div><!-- /.row (main row) -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
}

