@model IEnumerable<PreOrder>
@{
    Layout = null;
    //用户搜索结果
}
<p>搜索结果如下所示：</p>
<table class="table table-hover">
    <tr style="background-color:rgb(60,141,188);">
        <th>序号</th>
        <th>订单编号</th>
        <th>国家</th>
        <th>店铺名</th>
        <th>链接</th>
        <th>地址</th>
        <th>类型</th>
        <th>隔天下单/首天</th>
        <th>价格</th>
        <th>运费</th>
        <th>总计</th>
        <th>RMB总计</th>
        <th>手续费</th>
        <th>支付金额</th>
        <th>Amazon单号</th>
        <th>FeedBack</th>
        <th>Review</th>
        <th>是否审核</th>
        <th>操作</th>
        <th>单数</th>
    </tr>
    <tr>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.Id</td>
            <td>@x.PreOrderNumber</td>
            <td>@x.Country</td>
            <td>@x.ShopName</td>
            <td><a href="@x.GoodsUrl" title="@x.GoodsUrl" target="_blank">查看</a></td>
            <td><a href="#" title="@x.Address">查看</a></td>
            <td>@x.OrderType</td>
            <td>@x.NextOrToday</td>
            <td>@x.GoodsCost</td>
            <td>@x.Freight</td>
            <td>@x.Total</td>
            <td>@x.RMB</td>
            <td>@x.Poundage</td>
            <td>@x.PayTotal</td>
            <td>@x.TrueOrderNumber</td>
            <td><a href="#" title="@x.FeedBackContent" id="fb_text">复制</a></td>
            <td><a href="#" title="@x.ReviewContent" id="rew_text">复制</a></td>
            <td>@x.Draw</td>
            <td><a asp-action="EditOrder" asp-controller="Manage" asp-route-id="@x.Id">编辑</a>&nbsp;&nbsp;<a href="#">删除</a> </td>
            <td>@x.Times</td>
        </tr>
        }
</table>

